<html>

<head>
  <link rel="stylesheet" href="../public/styles/editpopup.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script><title></title>

</head>

<body>
  <a href="#popup-container" data-rel="popup">Open dialog</a>
  <div data-role = 'popup' id ='popup-container' class='popup-container'>
    <form action="/tasks/id" method='post'>
      <!-- Following Div will hold title of task e.g. 'buy apples'-->
      <div class='title-container'>
        <div class='title-div'><input class='title-text' type="text" value="Buy Apples" /></div>        
      </div>
      <!-- Following Div will other attributes related to task like date-->
      <div class='attribute-container'>
        <div class='attributes-style'>
          <div><i class="far fa-clock"></i><label for="dateTime">Date/Time</label></div>
          <div><input id='dateTime' type="datetime-local" /></div>
        </div>
        <div class='attributes-style'>
          <div><i class="fas fa-tasks"></i><label for="status">Status</label></div>
          <div><input id='status' type="text" class='status-text' value="To Do" /></div>
        </div>        
      </div>
      <!-- update button -->
      <div class='submit-form-div'>
        <div><button class="update-btn">Update</button></div>        
      </div>     
    </form>
  </div>
</body>

</html>