<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/modal.css" type="text/css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400&display=swap" rel="stylesheet">
<!-- for pop up -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
  type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>


<title></title>

<!--  -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/pop-up.js"></script>
  <script type="text/javascript" src="/vendor/jquery-ui.js"></script>

  <script src="https://kit.fontawesome.com/b85c3012c6.js" crossorigin="anonymous"></script>


  <script type="text/javascript" src="/scripts/task-operations.js"></script>

</head>

<body>

  <div id="modal">

    <div class="modal-content">
      <form id="popupForm" action="popup" method="post">

        <div class="modal-header">
          <span>Task Name</span>
          <i class="fas fa-times" id="close"></i>
        </div>

        <div class="modal-body">
         <span>Completed</span>
          <select name="is_done" id="is_done">
            <option value="no">No</option>
            <option value="yes">Yes</option>
          </select>
        </div>

        <input class="button" type="submit" value="update">

    </div>
  </form>

  </div>

  <nav>
  <form id="navFormList" action="/logout/" method="post">
    <span>ToDo!</span>
    <span>[name]
      <input type="submit" value="logout">
    </span>
  </form>
  </nav>

  <header>
    <form id="formList" action="/tasks/new" method="post">
      <input type="text" id="content" name="content">
      <input type="submit" value="Submit">
    </form>
  </header>

  <main>
    <section class="category-container">
      <ul class="layout__list" id="restaurants">
        <label class="category">To Eat</label>
      </ul>

      <ul class="layout__list" id="books">
        <label class="category">To Read</label>
      </ul>

      <ul class="layout__list" id="shows">
        <label class="category">To Watch</label>
      </ul>

      <ul class="layout__list" id="products">
        <label class="category">To Buy</label>
      </ul>

    </section>
  </main>
</body>

</html>
