<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <link rel="stylesheet" href="/styles/editpopup.css" type="text/css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400&display=swap" rel="stylesheet">


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/vendor/jquery-ui.js"></script>

</head>

<body>
  <nav>
  <form id="navFormList" action="/logout/" method="post">
    <span>ToDo!</span>
    <span>[name]
      <input type="submit" value="logout">
    </span>
  </form>
  </nav>

  <header>
    <form id="formList" action="/cards/" method="post">
      <input type="text" id="content" name="content">
      <input type="submit" value="Submit">
    </form>
  </header>

  <main>
    <section class="category-container">
      <ul class="layout__list" id="restaurants">
        <label class="category">To Eat</label>

        <li class="card">
          <label> Mcdonalds </label>
        </li>
        <li class="card">
          <label> Popeyes </label>
        </li>

      </ul>

      <ul class="layout__list" id="books">
        <label class="category">To Read</label>
        <li class="card">
          <label> Harry potter </label>
        </li>
        <li class="card">
          <label> Jungle Book </label>
        </li>
      </ul>


      <ul class="layout__list" id="shows">
        <label class="category">To Watch</label>
        <li class="card">
          <label> Friends </label>
        </li>
        <li class="card">
          <label> How I met your mother </label>
        </li>
      </ul>

      <ul class="layout__list" id="products">
        <label class="category">To Buy</label>
        <li class="card">
          <label> Apples </label>
        </li>
        <li class="card">
          <label> Iphone </label>
        </li>
      </ul>

    </section>
  </main>

</body>

</html>
