body {
  background: white;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  margin-top: 1em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  box-shadow: 3px 1px rgb(204, 204, 204);
}

.category-container{
  position: relative;
  top: 45px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-gap: 50px;
}

.layout__list{
  display: grid;
  grid-gap: 5px;
}

.card {
  display: grid;
  box-shadow: 3px 5px lightgrey;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  margin-top: 10px;
  padding-left: 5px;
  padding-top: 5px;
}

.category {
 font-family: 'Outfit', sans-serif;
}
